.top-card-head {
  display: flex;
  width: 100%;
  > div {
    flex: 1;
  }
  // .cardHead-headline {
  //   text-align: start;
  //   font-size: 1.125rem;
  //   -webkit-margin-start: 0.625rem;
  //   margin-inline-start: 0.625rem;
  //   font-weight: 500;
  // }
  //   .cardHead-change-Location {
  //     text-align: end;
  //     span {
  //       font-weight: 400;
  //       font-size: 0.8rem;
  //     }
  //     margin-inline-end: 0.625rem;
  //   }
}
