@import "./iranYekan/css/fontiran.scss";

@font-face {
  font-family: mabry;
  font-style: normal;
  font-weight: 600;
  src: url("./mabry/mabryPro.otf") format("opentype");
}

@font-face {
  font-family: mabry;
  font-style: normal;
  font-weight: 200;
  src: url("./mabry/mabryProLight.otf") format("opentype");
}

@font-face {
  font-family: mabry;
  font-style: normal;
  font-weight: 400;
  src: url("./mabry/mabryProMedium.otf") format("opentype");
}

@font-face {
  font-family: mabry;
  font-style: normal;
  font-weight: bold;
  src: url("./mabry/mabryProBold.otf") format("opentype");
}

@font-face {
  font-family: sf;
  font-style: normal;
  font-weight: 200;
  src: url("./sf/sf.otf") format("opentype");
}

@font-face {
  font-family: sf;
  font-style: normal;
  font-weight: 200;
  src: url("./sf/sfLghtt.otf") format("opentype");
}

@font-face {
  font-family: sf;
  font-style: normal;
  font-weight: 400;
  src: url("./sf/sfMedium.otf") format("opentype");
}

@font-face {
  font-family: sf;
  font-style: normal;
  font-weight: bold;
  src: url("./sf/sfBold.otf") format("opentype");
}
