.date-input-entry-data {
  display: flex;
  > div {
    margin: 0 0.5em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    label {
      padding: 0.2em;
      color: #4e4e4e;
      font-size: 0.8rem;
    }
    input {
      text-align: center;
      flex: 1;
    }
  }
}
