.panelAdmin-navbar-container {
  color: #97a9b2;
  // height: 5em;
  display: flex;
  align-items: center;
  // position: absolute;
  top: 0;
  left: 0;
  right: 0;
  justify-content: flex-end;
  padding: 1em;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  // -webkit-box-shadow: 0 2px 23px 0 rgba(0, 0, 0, 0.1),
  //   0 2px 49px 0 rgba(0, 0, 0, 0.06);
  // box-shadow: 0 2px 23px 0 rgba(0, 0, 0, 0.1), 0 2px 49px 0 rgba(0, 0, 0, 0.06);
  z-index: 10;
  border-radius: 0;
  background-color: transparent;
  .panel-navbar-side-element {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
    &.smallDisplay {
      justify-content: flex-start;

      i {
        display: none;
        font-size: 1.5rem;
      }
    }
    .page-accepted-name {
      margin-inline-start: 1rem;
    }
  }
}
.panel-navbar-box {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.panel-navbar-notifications {
  li {
    margin: 0 1em;
    cursor: pointer;
    display: flex;
    i {
      font-size: 1.3em;
    }
  }
}

.panel-navbar-profile {
  display: flex;
  align-items: center;
  margin-right: 20px;
  position: relative;
  > li {
    display: flex;

    > div {
      font-size: 0.9rem;
      justify-content: center;
      vertical-align: middle;
      margin: 0 0.3rem;
    }
  }
}
.admin-profile-image {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: relative;
  // background: #07a7e3;
  // background: -webkit-linear-gradient(-45deg, #07a7e3, #32dac3);
  // background: -webkit-linear-gradient(315deg, #07a7e3, #32dac3);
  // background: -o-linear-gradient(315deg, #07a7e3 0, #32dac3 100%);
  // background: linear-gradient(135deg, #07a7e3, #32dac3);
  // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$qp-color-1,endColorstr=$qp-color-2,GradientType=1);
  -webkit-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  margin: 0 10px;

  // background-color: #07a7e3;
}
.admin-profile-image img {
  display: block;
  width: 100%;
  padding: 1px;
  border-radius: 50%;
  border: 0.017em solid #ffffff;
  margin: 0 auto;
}
// .admin-profile-image::before {
//   content: "";
//   background-color: #07a7e3;
//   position: absolute;
//   top: 3px;
//   left: 0px;
//   width: 0.8em;
//   height: 0.8em;
//   border-radius: 100%;
// }

.admin-profile-name.icon-up-dir::after {
  transform: rotate(-180deg);
}

.arrow-ic::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
.navbar-icon-massege {
  > .icon-mail {
    font-size: 20px;
    cursor: pointer;
  }
  > .icon-up-dir::after {
    transform: rotate(-180deg);
  }
}

.massege-icon {
  position: relative;
  display: flex;
  > span {
    position: absolute;
    top: -0.8rem;
    right: -0.9rem;
    font-size: 0.6rem;
    padding: 0.32em 0.735em;
    font-weight: 900;
    border: 2px solid white;
  }
}
.middle {
  vertical-align: middle;
}
// =============================== media query
@media (max-width: 1024px) {
}
@media (max-width: 768px) {
  .panelAdmin-navbar-container {
    .panel-navbar-side-element {
      &.smallDisplay {
        i {
          display: flex;
        }
      }
    }
  }
  .massege-icon {
    > span {
      border: 1px solid white;
    }
  }
}
