.card-Mood-container {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  margin-inline-start: 0;
  .card-Mood-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 20px;
    padding-bottom: 15px;
    padding-inline-start: 0;

    &:hover {
      transition: all 0.3s linear;

      & .descriptionCard-middle {
        background-color: rgba($color: #000000, $alpha: 0.35);
      }
    }
    .descriptionCard-middle {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s linear;
      span {
        color: white;
        z-index: 10;
        font-weight: 500;
        font-family: sf;
        letter-spacing: 1.5px;
        font-size: 18px;
      }
    }

    .imageCard {
      display: flex;
      position: relative;
      height: 100%;
      overflow: hidden;
      border-radius: 0.3rem;
      overflow: hidden;

      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}

@media (min-width: 992px) {
  .card-Mood-container.col-lg-2 {
    -ms-flex: 0 0 20.06% !important;
    flex: 0 0 20.06% !important;
    max-width: 20.06% !important;
  }
}

@media (max-width: 375px) {
  .card-Mood-container {
    border-radius: 0.3125rem;
    &.col-5 {
      -ms-flex: 0 0 54.795%;
      flex: 0 0 54.795%;
      max-width: 54.795%;
    }
    .card-Mood-wrapper {
      .descriptionCard-middle {
        span {
          font-size: 1.125rem;
        }
      }
    }
  }
}
