$sidebarWidth: var(--sideMenuWidth);
.panelAdmin-sideBar-container {
  min-height: 100vh;
  max-height: 100vh;
  width: $sidebarWidth;
  display: inline-flex;
  box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.5);
  background-color: var(--sidebarBgColor);
  color: black;
  flex-direction: column;
  // position: absolute;
  top: 0;
  right: 0;
  overflow-y: auto;
  z-index: 1000;
  overflow-x: hidden;
  transition: all 0.2s linear;
  background-color: white;
  a:hover {
    color: #71b6f9;
  }
  // .ScrollbarsCustom.trackYVisible {
  //   transition: all 0.2s linear;
  //   div:nth-child(2) {
  //     background: #191919ab !important;
  //     transition: all 0.2s linear;
  //   }
  // }
  // .ScrollbarsCustom-Scroller {
  //   overflow: hidden scroll !important;
  //   margin-left: -1.3em !important;
  //   transition: all 0.2s linear;
  // }
  // .ScrollbarsCustom-Track {
  //   position: unset !important;
  //   visibility: hidden;
  //   transition: all 0.2s linear;
  // }
  // .ScrollbarsCustom-Wrapper {
  //   position: unset !important;
  // }
  // &:hover {
  //   .ScrollbarsCustom-Track {
  //     visibility: visible;
  //     transition: all 0.2s linear;
  //   }
  // }
}

.change-position {
  text-transform: uppercase;
  padding: 0.5em 2em;
  margin: 2em 0 0;
  font-weight: 700;
  text-align: start;
}
.logo-side-iteme {
  margin: 1em 0 0 !important;
}
.side-header {
  padding: 0.5em 2em;
  letter-spacing: 1px;
  text-align: start;
  font-size: 15;
  user-select: none;
}
.side-iteme {
  transition: all 0.5s linear;
}

.side-link {
  border-radius: 0;
  padding: 1em 1.2em;
  color: #435966;
  display: flex;
  align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  > span {
    margin: 0 10px;
    font-size: 0.8em;
  }
}

.side-link {
  &.icon-right-open {
    .menu-arrow-icon {
      -webkit-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
    }
    &.arrowRotate {
      .menu-arrow-icon {
        transform: rotate(-90deg);
      }
    }
    &.unsetRotate {
      .menu-arrow-icon {
        transform: rotate(0);
      }
    }
  }
}
.side-header.marginLow {
  margin: 0.5em 0;
}
.side-link > .icon-photo::before {
  font-size: 20px;
}
.side-link::after {
  margin-right: auto;
  font-size: 0.8em;
}
.side-link {
  .menu-arrow-icon {
    margin-inline-start: auto;
  }
}

.side-link#activedSide,
.side-link.activedSide {
  font-weight: 400;
  color: #71b6f9;
  // background: -webkit-linear-gradient(
  //   -45deg,
  //   var(--blueLight),
  //   var(--blueLight2)
  // );
  // background: -webkit-linear-gradient(
  //   315deg,
  //   var(--blueLight),
  //   var(--blueLight2)
  // );
  // background: -o-linear-gradient(
  //   315deg,
  //   var(--blueLight) 0,
  //   var(--blueLight2) 100%
  // );
  // background: linear-gradient(135deg, var(--blueLight), var(--blueLight2));
  // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$qp-color-1,endColorstr=$qp-color-2,GradientType=1);
  // -webkit-transition: all 0.2s ease-out;
  // -o-transition: all 0.2s ease-out;
  // transition: all 0.2s ease-out;
  // -webkit-transition: width 0.3s ease-in-out;
  // -o-transition: width 0.3s ease-in-out;
  // transition: width 0.3s ease-in-out;
}
.side-link:hover {
  // background-color: var(--blackLight);
  color: #64affa;
}
.side-child-ling#activedSideChild,
.side-child-ling.activedSideChild {
  color: #71b6f9;
  // background: -webkit-linear-gradient(
  //   -45deg,
  //   var(--blueVerylight),
  //   var(--blueVerylight2)
  // );
  // background: -webkit-linear-gradient(
  //   315deg,
  //   var(--blueVerylight),
  //   var(--blueVerylight2)
  // );
  // background: -o-linear-gradient(
  //   315deg,
  //   var(--blueVerylight) 0,
  //   var(--blueVerylight2) 100%
  // );
  // background: linear-gradient(
  //   135deg,
  //   var(--blueVerylight),
  //   var(--blueVerylight2)
  // );
  // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$qp-color-1,endColorstr=$qp-color-2,GradientType=1);
  // -webkit-transition: all 0.2s ease-out;
  // -o-transition: all 0.2s ease-out;
  // transition: all 0.2s ease-out;
  // -webkit-transition: width 0.3s ease-in-out;
  // -o-transition: width 0.3s ease-in-out;
  // transition: width 0.3s ease-in-out;
  // // color: #435966;
  // font-weight: 800;
}
.side-child-ling:hover {
  // background-color: rgba(0, 0, 0, 0.5);
  color: #71b6f9;
}

#sideChildTitle {
  padding: 1em 1.5em 1em 0;
  border-right: 0.3em solid #71b6f9;
  font-size: 0.8rem;
}
.side-child-navigation {
  overflow: hidden;
  height: 0;
}

.activeMenu {
  font-weight: 900;
  color: #71b6f9;
  // background: -webkit-linear-gradient(
  //   -45deg,
  //   var(--blueLight),
  //   var(--blueLight2)
  // );
  // background: -webkit-linear-gradient(
  //   315deg,
  //   var(--blueLight),
  //   var(--blueLight2)
  // );
  // background: -o-linear-gradient(
  //   315deg,
  //   var(--blueLight) 0,
  //   var(--blueLight2) 100%
  // );
  // background: linear-gradient(135deg, var(--blueLight), var(--blueLight2));
  // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$qp-color-1,endColorstr=$qp-color-2,GradientType=1);
  // -webkit-transition: all 0.2s ease-out;
  // -o-transition: all 0.2s ease-out;
  // transition: all 0.2s ease-out;
  // -webkit-transition: width 0.3s ease-in-out;
  // -o-transition: width 0.3s ease-in-out;
  // transition: width 0.3s ease-in-out;
}

.lgHolder {
  padding: 2rem;
  display: flex;
  color: #435966;
  justify-content: center;
  margin: auto;
}

// =============================== media

@media (max-width: 900px) {
  .panelAdmin-sideBar-container {
    // display: none;
    position: absolute;
    $sidebarWidth: 30%;
    width: $sidebarWidth;
  }
  .panelAdmin-wrapper {
    &.fadeOut {
      .panelAdmin-sideBar-container {
        $sidebarWidth: 0;
        width: $sidebarWidth;
        > * {
          transition: all 0.03s linear;
          opacity: 0;
        }
      }
    }
    &.fadeIn {
      .panelAdmin-sideBar-container {
        $sidebarWidth: 40%;
        width: $sidebarWidth;
        > * {
          transition: all 0.5s linear;

          opacity: 1;
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .panelAdmin-wrapper {
    &.fadeIn {
      .panelAdmin-sideBar-container {
        $sidebarWidth: 60%;
        width: $sidebarWidth;
        > * {
          transition: all 0.5s linear;

          opacity: 1;
        }
      }
    }
  }
}
@media (max-width: 320px) {
  .panelAdmin-wrapper {
    &.fadeIn {
      .panelAdmin-sideBar-container {
        $sidebarWidth: 70%;
        width: $sidebarWidth;
        > * {
          transition: all 0.5s linear;

          opacity: 1;
        }
      }
    }
  }
}
