$mainColor: #ffe2e2;
$greyColor: #eeeeee;

$greyDarkenColor: darken($greyColor, 5);
.container {
  background-color: #fff;
  margin: 0 auto;
  width: 380px;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.pre {
  background: linear-gradient(to right, $greyColor 8%, $greyDarkenColor 18%, $greyColor 33%);
  background-size: 200% 50px;
  animation: preloadAnimation 2s infinite;
  height: 200px;
}

@keyframes preloadAnimation {
  from {
    background-position: -280px 0;
  }
  to {
    background-position: 300px 0;
  }
}
